<div class="side-bar">
  <mat-list>
    
    <!-- ! HR  -->
    <div class="ut-hr-txt">
      <hr>
      <span>perfil</span>
    </div>
    
    <mat-list-item class="list-item">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <p>
        {{user.userName}}
      </p>
    </mat-list-item>
    <mat-list-item class="list-item">
      <mat-icon matListItemIcon>account_circle</mat-icon>
      <p>
        {{auth}}
      </p>
    </mat-list-item>
    <!-- ! HR  -->

    <div class="ut-hr-txt">
      <hr>
      <span>forum</span>
    </div>
    
    <mat-list-item *ngFor="let forum of forums">
      <p>{{forum.title}}</p>
    </mat-list-item>

 </mat-list>
</div>