<app-modal></app-modal>
<app-side-bar></app-side-bar>
<div class="main">

    <div class="card" *ngFor="let post of posts">  
        <div class="card-left">
            <div class="card-top-left">
                <div class="card-title">
                    {{post.title}}
                </div>
                <div class="card-content">
                    {{post.content}}
                </div>
            </div>
            <div class="card-bottom-left">
                <div class="card-author">
                    @{{post.authorName}}
                </div>
            </div>
        </div>
    
        <div class="card-right">
            <p>
                <button
                    *ngIf="post.idAuthor == user.id" 
                    mat-mini-fab color="primary" aria-label="Example icon button with a delete icon"
                >
                    <mat-icon>delete</mat-icon>
                </button>
                {{post.createdAt}}
            </p>
            
            <div class="card-buttons">
                <i class="fas fa-comments"></i>
                <mat-icon matBadge="15" matBadgeColor="warn" fontIcon="local_fire_department"></mat-icon>
            </div>
        </div>
    </div>
</div>

