<div class="view">

    <div class="flexin">
        <div class="login">
            <div class="input-field">
                <mat-form-field class="inputs">
                    <mat-label>Username or Email</mat-label>
                    <input matInput placeholder="Username or Email">
                    </mat-form-field>
                
                    <mat-form-field class="inputs">
                    <mat-label>Password</mat-label>
                    <input matInput placeholder="Password">
                </mat-form-field>
            </div>
        </div>

        <div class="signin">
            <div class="completeName">
                <mat-form-field class="inputs">
                    <mat-label>Complete Name</mat-label>
                    <input matInput placeholder="Complete Name">
                    </mat-form-field>
                
                    <mat-form-field class="inputs">
                    <mat-label>E-Mail</mat-label>
                    <input matInput placeholder="E-mail">
                </mat-form-field>
            </div>
        </div>
    </div>
</div>