.container {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-surname {
    display: flex;
    gap: 15px;
}

.input-field {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 15px;
}

.width50 {
    width: 50%;
}

.datepicker {
    border-radius: 5px;
    padding-top: 10px;
    margin-bottom: 10px;
    display: flex;
    gap: 15px;
    align-items: center;
    justify-content: center;
}

.width70 {
    width: 40%;
}

.ints {
    text-align: center;
    margin-top: 15px;
}

.username {
    color: var(--background-color);
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.last-buttons {
    display: flex;
    justify-content: space-between;

}

.btn-create-account {
    background-color: var(--primary-colorh1);
    transition: all .3s;
}
.btn-create-account:hover {
    background-color: var(--primary-colorh2);
}

.background-color {
    background-color: var(--primary-colorh4);
}

.noMatchError {
    color: rgb(134, 0, 0);
    background-color: rgba(255, 0, 0, 0.3);
    padding: 10px;
}

.next-button-disabled {
    background-color: var(--primary-colorh3);
}
.next-button {
    background-color: var(--primary-colorh2);
    transition: all .3s;
}
.next-button:hover {
    background-color: var(--primary-colorh1);
    transform: scale(1.02);
}

.warning {
    background-color: rgba(255, 0, 0, 0.3);
}

.input-warning {
    color: #E10600
}

.back-button {
    display: flex;
    justify-content: initial;
    gap: 15px;
    align-items: center;
    font-size: small;
    cursor: pointer;
}

.back-button span {
    transition: all .1s;
}
.back-button:hover p {
    text-decoration: underline;
}
.back-button:hover span {
    color: var(--primary-colorh1);
}