.container {
    width: 35vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.name-surname {
    display: flex;
    gap: 15px;
}

.input-field {
    display: flex;
    gap: 15px;
    flex-direction: column;
    margin-top: 15px;
}

.width50 {
    width: 50%;
}

.datepicker {
    display: flex;
    gap: 15px;
    margin: auto;
    align-items: center;
    justify-content: center;
}

.width70 {
    width: 40%;
}

.ints {
    text-align: center;
    margin-top: 15px;
}

.username {
    color: var(--background-color);
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.last-buttons {
    display: flex;
    justify-content: space-between;

}

.btn-create-account {
    background-color: var(--primary-colorh1);
    transition: all .3s;
}
.btn-create-account:hover {
    background-color: var(--primary-colorh2);
}