<div class="container">
  <mat-stepper [linear]="false" #stepper class="background-color">
    <mat-step [stepControl]="firstFormGroup">


      <form [formGroup]="firstFormGroup">
        <ng-template matStepLabel>Fill out your name</ng-template>

        <div class="input-field">
          <div class="name-surname">
            <mat-form-field class="width50">
              <mat-label>Name</mat-label>
              <input matInput placeholder="First name" formControlName="firstCtrl" required [(ngModel)]="name"
              (keyup)="firstGroupCheck()">
            </mat-form-field>
            <mat-form-field class="width50">
              <mat-label>Last name</mat-label>
              <input matInput placeholder="First name" formControlName="firstCtrl" required [(ngModel)]="lastName"
              (keyup)="firstGroupCheck()">
            </mat-form-field>
          </div>

          <mat-form-field class="width100">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Create an username" formControlName="firstCtrl" required [(ngModel)]="user.username"
            (keyup)="firstGroupCheck()">
          </mat-form-field>

          <mat-form-field class="width100">
            <mat-label>E-mail</mat-label>
            <input matInput placeholder="Your email" formControlName="firstCtrl" required [(ngModel)]="user.mail"
            (keyup)="firstGroupCheck()">
          </mat-form-field>
        </div>


        <div>
          <button class="next-button" mat-button matStepperNext disabled="{{disabledFirstGroup}}">
            Next
          </button>
        </div>
      </form>


    </mat-step>
    <mat-step [stepControl]="secondFormGroup" label="Create a password">

      <div class="input-field">
        <div class="noMatchError" *ngIf="noMatchError">
          Passwords don't matches
        </div>
          <mat-form-field>
            <mat-label>Create your password</mat-label>
            <input matInput type="{{hide == true? 'password' : 'text'}}" [(ngModel)]="password" (keyup)="secundGroupCheck()">
            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </mat-form-field>
  
          <mat-form-field>
            <mat-label>Repeat your password</mat-label>
            <input matInput placeholder="Password" type="password" [(ngModel)]="repPass" (keyup)="secundGroupCheck()">
            <button mat-icon-button matSuffix disabled="true" style="color: red;">
              <mat-icon>{{noMatchError ? 'warning' : ''}}</mat-icon>
            </button>
          </mat-form-field>
  
      </div>
      
      

        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button matStepperNext disabled="{{disabledSecondGroup}}">
            Next
          </button>
        </div>


    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Profile Picture</ng-template>

      <div class="ints">

        <app-uploader-fortunato></app-uploader-fortunato>
        <p class="username">@{{user.username}}</p>
        
        <div class="datepicker">
          <mat-form-field class="width70">
            <mat-label>Choose a date</mat-label>
            <input matInput [matDatepicker]="picker" [(ngModel)]="user.bornDate" (dateChange)="thirdGroupCheck()">
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
          <button mat-raised-button (click)="picker.open()">Open</button>
        </div>
      </div>

      <div class="last-buttons">
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button disabled="{{disabledThirdGroup}}" (click)="sendUser()" class="btn-create-account" color="warning">
          Create Account
        </button>
      </div>
    </mat-step>
  </mat-stepper>
</div>

