<h1 mat-dialog-title>Novo Crown</h1>
<div mat-dialog-content>

  <mat-form-field class="half-width">
    <mat-label>Título</mat-label>
    <input matInput placeholder="Insira o Título" [(ngModel)]="post.title"/>
  </mat-form-field>

  <mat-form-field class="full-width">
    <mat-label>Conteudo</mat-label>
    <textarea matInput placeholder="Coloque o seu Crown aqui!" rows="5" cols="50"
      style="resize: none;"
      [(ngModel)]="post.content"></textarea>
  </mat-form-field>

  <!-- !FORUM -->
  <mat-form-field class="half-width">
    <mat-label>Fórum</mat-label>

    <input type="text" matInput [formControl]="myControl" [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
      <mat-option [(ngModel)]="selectOption"
        *ngFor="let option of filteredOptions | async"
        [value]="option">
          {{option.title}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>

</div>
<div mat-dialog-actions class="modal-buttons">
  <button mat-button mat-dialog-close>Cancelar</button>
  <button mat-button mat-dialog-close cdkFocusInitial (click)="pub()">Publicar</button>
</div>